body { font-family: Arial, Helvetica, sans-serif; font-style: normal; font-variant: normal; font-size: x-small; font-weight: 400; word-spacing: normal; letter-spacing: normal; text-align: center; vertical-align: baseline; background-color: bisque; margin: auto; padding: 0%; }

.moje { border: 5px solid red; }
